{% trans_default_domain 'FOSUserBundle' %}



<form action="{{ path("fos_user_change_password") }}" method="post" class="fos_user_change-password form-signin">
	
	{{ form_label(form.current_password,'Contrase単a Actual',{'label_attr': {'class': 'required'}}) }}
    {{ form_errors(form.current_password) }}
    {{ form_widget(form.current_password,{ 'attr': {'class': 'form-control','placeholder': 'Contrase単a Actual'} }) }}

    {{ form_label(form.plainPassword.first,null,{'label_attr': {'class': 'required'}}) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control','placeholder': 'Nueva Contrase単a'} }) }}

    {{ form_label(form.plainPassword.second,null,{'label_attr': {'class': 'required'}}) }}
    {{ form_errors(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control','placeholder': 'Repita la Contrase単a'} }) }}
    
    {{ form_rest(form) }}

    <input type="submit"
               class="btn btn-lg btn-primary btn-block"
               id="_submit"
               name="_submit"
               value="{{ 'change_password.submit'|trans }}" />

    
</form>
